
#container {
	position: relative;
	margin: 10px auto;
	width: 320px;
	height: 320px;
	background-color: transparent;
	overflow: hidden;	
}
#images img {
	position: absolute;
	
	height: 100%;
	width: 100%;
	opacity: 0.99;
}

#background {
	top: 50px;
}